.list {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 250px;
  margin: 10px;
  background-color: white;
}

.card {
  display: grid;
  grid-template-columns: 1fr auto auto;
  border: 1px solid black;
  margin-top: 2px;
  overflow-x: hidden;
  overflow-y: visible;
  word-break: break-all;
}

.listsContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  height: 600px;
  background-color: lightgray;
  min-width: 1000px;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.modalOuterCardEditor {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
}

.modalInnerCardEditor {
}

.cardText {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
